/* COLORI 
- Header: rgb(255,105,0);
- Verde: rgb(0,128,0);
*/

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

/* UTILITY */
.container {
    margin: auto;
    width: 75%;
}

.p-relative {
    position: relative;
}

.vuoto { /* classe per le etichette vuote */
    display:none;
}

/* HEADER */
header {
    background-color: rgb(255,105,0);
    padding: 20px 0;
    color: white;

    box-shadow: 0px 2px 6px gray;
}
header .logo {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#header-contenuto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Nav menu */
header ul {
 display: flex;
}
header ul li {
    padding-right: 8px ;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
}
/* Area Utente */
#utente > * {
    padding-left: 5px;
    cursor: pointer;
}


/* MAIN */
#contenuto-main {
    margin-top: 50px ;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Singolo prodotto */
.prodotto {
    width: calc(100% / 3 - 15px);
    margin-bottom: 40px;
}

/* Position e proprietà per il cambip di foto in :hover */
.foto-open {
    position: relative;
}
.foto-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.foto-hover:hover {
    opacity: 1;
}

/* Cuore e etichette */
.cuore {
    font-size: 22px;
    padding: 4px 8px;
    background-color: white;

    position: absolute;
    right: 0;
    top:5%;
}
.cuore:hover {
    color: red;
}

.etichette {
    position: absolute;
    left: 0px;
    bottom: 8%;
}
.etichette > * {
    color:white;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 8px;
    margin-right: 4px;
}
.sconto {
    background-color: red;
}
.sostenibilità {
    background-color: rgb(0,128,0);
}

/* Info prodotto */
.nome,.marca {
    display: block;
}

.marca {
    font-size: 15px;
}
.nome {
    text-transform: uppercase;
    font-weight: 700;
}

.prezzo {
    color: red;
    font-weight: 700;
    font-size: 15px;
}
.prezzo-vecchio {
    text-decoration: line-through;
    font-size: 15px;
}

/* FOOTER */
footer {
    background-color: rgb(26,26,26);
    color: white;
    padding: 15px 0;
}
footer a:hover {
    text-decoration: underline;
}

#contenuto-footer {
    display: flex;
    justify-content: flex;
    justify-content: space-between;
    line-height: 2;
}


#azienda ul {
    display: flex;
}
#azienda li {
    margin-right: 10px;
}

#social ul {
    display: flex;
    justify-content: space-between;
    font-size: larger;
}
